<mat-card class="example-card col-lg-10 mx-auto p-0 mt-5">


    <table class="table  table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">First</th>
                <th scope="col" class="text-center">Last</th>
                <th scope="col" class="text-center">Handle</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-center">1</th>
                <td class="text-center">Mark</td>
                <td class="text-center">Otto</td>
                <td class="text-center">@mdo</td>
                <td class="text-center"><i class="fa fa-edit" [routerLink]="['/patient-list-edit','12']"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-center">2</th>
                <td class="text-center">Jacob</td>
                <td class="text-center">Thornton</td>
                <td class="text-center">@fat</td>
                <td class="text-center"><i class="fa fa-edit" [routerLink]="['/patient-list-edit','12']"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-center">3</th>
                <td class="text-center">Larry</td>
                <td class="text-center">the Bird</td>
                <td class="text-center">@twitter</td>
                <td class="text-center"><i class="fa fa-edit" [routerLink]="['/patient-list-edit','12']"></i></td>
            </tr>
        </tbody>
    </table>
</mat-card>